/settings-staging.json
/settings-dev-cn.json
/settings-dev.json
/pkg_test*
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
/.idea
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea

.meteor/local

s3.sh
/app/packages/images/.npm
