[submodule "app/packages/accounts-phone"]
path=app/packages/accounts-phone
url=https://github.com/byrne-yan/accounts-phone.git

[submodule "app/packages/meteor-clientside-image-manipulation"]
path=app/packages/meteor-clientside-image-manipulation
url=https://github.com/byrne-yan/meteor-clientside-image-manipulation.git

[submodule "app/packages/slingshot"]
path=app/packages/slingshot
url=https://github.com/byrne-yan/meteor-slingshot.git