<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">ShareBabyJournal</a>
                {{> babyStatus}}

            </div>
            <div class="collapse navbar-collapse" id="navigation">
                {{#if currentUser}}<ul class="nav navbar-nav">
                    {{#if currentBaby}}
                        <li><a href="{{pathFor 'babyEdit' babyId=currentBaby._id}}" id="babyEditLink">编辑宝宝</a></li>
                    {{else}}
                        <li><a href="{{pathFor 'babySubmit'}}" id="babySubmitLink">新增宝宝</a></li>
                    {{/if}}]

                </ul>{{/if}}
                <ul clacurrentUserss="nav navbar-nav">
                    {{#if currentUser}}<li><a href="{{pathFor 'journalSubmit'}}" id="journalSubmitLink">新增日记</a></li>{{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
</template>